[Unit]
Description=Synapse Matrix homeserver
After=network.target

[Container]
Image={{ synapse_image }}
ContainerName={{ synapse_service_name }}
Volume={{ synapse_data_path }}:/data
PublishPort={{ synapse_port }}:{{ synapse_port }}

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
