[defaults]
inventory           = ./ansible/inventory/hosts.yml
# Keep root invocation of ansible-lint working without ANSIBLE_CONFIG overrides.
roles_path          = ./ansible/roles:./ansible/apps

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
