[Unit]
Description=MinIO Object Storage
After=network.target

[Container]
Image={{ minio_image }}
PublishPort={{ minio_port }}:9000
PublishPort={{ minio_console_port }}:9001
Volume={{ minio_data_path }}:/data
EnvironmentFile=/home/{{ brew_user }}/.config/minio/minio.env
Exec=server /data --address :{{ minio_port }} --console-address :{{ minio_console_port }}

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
