[Unit]
Description=MinIO Object Storage
After=network.target

[Service]
User={{ brew_user }}
Group={{ brew_user }}
EnvironmentFile=/etc/default/minio
ExecStart={{ brew_prefix }}/bin/minio server $MINIO_VOLUMES \
  --address :{{ minio_port }} \
  --console-address :{{ minio_console_port }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
