[defaults]
inventory           = ./ansible/inventory/hosts.ini
# private_key_file  = ~/.ssh/id_ed25519
interpreter_python  = auto_silent
roles_path          = ./roles
vault_password_file = ./ansible/.vault-password
# Run `make add-hostkey` once to add the Pi to known_hosts before provisioning.

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
