[Unit]
Description=Baikal CalDAV/CardDAV Server
After=network.target

[Container]
Image={{ baikal_image }}
Network={{ postgres_network_name }}.network
PublishPort={{ baikal_port }}:80
Volume={{ baikal_config_path }}:/var/www/baikal/config:U
Volume={{ baikal_data_path }}:/var/www/baikal/Specific:U

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
