[Unit]
Description=PostgreSQL Database
After=network.target

[Container]
Image={{ postgres_image }}
ContainerName={{ postgres_service_name }}
Network={{ postgres_network_name }}.network
Exec=postgres -c hba_file={{ postgres_hba_container_path }}
PublishPort={{ postgres_port }}:5432
Volume={{ postgres_data_path }}:/var/lib/postgresql/data:U
Volume={{ postgres_hba_host_path }}:{{ postgres_hba_container_path }}:ro
EnvironmentFile={{ app_user_home }}/.config/postgres/postgres.env

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
